            <div class="brand">
                {% if lang and lang !== defaultLanguage %}
                {% set homeUrl = "/" + supportedLanguages[lang].slug + "/" %}
                {% else %}
                {% set lang = defaultLanguage %}
                {% set homeUrl = "/" %}
                {% endif %}

                <a rel="home" href="{{ homeUrl }}"{% if page.url === homeUrl %} aria-current="page"{% endif %}>
                    <img src="/assets/images/logo.webp" aria-hidden="true" alt="" width="496" height="122" />
                    <span class="visually-hidden">{{ site[lang].name }}</span>
                </a>
            </div>
