<div class="filters flow">
    <h2>{{ 'filters' | i18n }}</h2>
    <button aria-expanded="false"><h2>{{ 'filters' | i18n }}</h2></button>
    <div class="flow">
        <fieldset>
            <legend>{{ 'themes' | i18n }}</legend>
            <ul role="list">
                {% for theme in collections['themes_' + lang] %}
                <li>
                    <input type="checkbox" id="{{ theme.data.uuid }}" name="theme" value="{{ theme.data.uuid }}" data-filter-key="theme" />
                    <label for="{{ theme.data.uuid }}">{{ theme.data.title }}</label>
                </li>
                {% endfor %}
            </ul>
        </fieldset>

        <fieldset>
            <legend>{{ 'formats.label' | i18n }}</legend>
            <ul role="list">
                {% for value in formats %}
                <li>
                    <input type="checkbox" id="{{ value }}" name="format" value="{{ value }}" data-filter-key="format" />
                    <label for="{{ value }}">{{ ['formats', value] | join('.') | i18n }}</label>
                </li>
                {% endfor %}
            </ul>
        </fieldset>

        <fieldset>
            <legend>{{ 'languages.label' | i18n }}</legend>
            <ul role="list">
                {% for value in languages %}
                <li>
                    <input type="checkbox" id="{{ value }}" name="language" value="{{ value }}" data-filter-key="language" />
                    <label for="{{ value }}">{{ ['languages', value] | join('.') | i18n | titlecase }}</label>
                </li>
                {% endfor %}
            </ul>
        </fieldset>

        <search>
            <label for="search">{{ 'search' | i18n }}</label>
            <input type="search" name="search" id="search" data-filter-key="search" />
            <p></p>
        </search>

    
    </div>
</div>
