<article
    data-filter-theme="{{ submission.data.themes | join(',') }}"
    data-filter-format="
    {%- for format in ['text', 'youtube', 'transcript', 'slides', 'audio', 'pdf'] %}
        {%- if submission.data[format] -%}
        {%- if format === 'transcript' %}text{% else %}{{ format }}{% endif -%}
        {%- if not loop.last %},{% endif -%}
        {%- endif -%}
    {%- endfor -%}
    "
    data-filter-language="
    {%- if submission.data.youtube.interpretation -%}
        {{ 'asl' if submission.data.youtube.lang === 'en' else 'lsq' }},
    {%- endif -%}
    {%- if submission.data.youtube.lang === 'en' or submission.data.text.en or submission.data.transcript.en or submission.data.slides.en or submission.data.audio.lang === 'en' or submission.data.pdf.en -%}
        en,
    {%- endif -%}
    {%- if submission.data.youtube.lang === 'fr' or submission.data.text.fr or submission.data.transcript.fr or submission.data.slides.fr or submission.data.audio.lang === 'fr' or submission.data.pdf.fr -%}
        fr,
    {%- endif -%}
    "

    data-filter-search="{% for presenter in submission.data.presenters %}{{ presenter }},{% endfor %}{{ submission.data.title }},{{ submission.templateContent | replace('/n', '') }}"
>
    <h4 id="{{ submission.data.id }}">{{ submission.data.title }}</h4>
    
    <div class="presenters">
        {{ submission.data.presenters | join(', ') }}
    </div>
    <div class="themes">
        <strong>{{ 'themes' | i18n if submission.data.themes | length > 1 else 'theme' | i18n }}:</strong> 
        {% for uuid in submission.data.themes -%}
            {%- for theme in collections['themes_' + lang] -%}
                {%- if theme.data.uuid === uuid -%}
                {{ theme.data.title }}
                {%- endif -%}
            {%- endfor -%}
            {%- if not loop.last %}, {% endif %}
        {%- endfor -%}
        {%- if submission.data.customTheme %}, {{ submission.data.customTheme }}{% endif %}
    </div>
    <div class="content">
        <div class="flow">
            {{ submission.templateContent | safe }}
        </div>
        {% if submission.data.previewImage and submission.data.previewImageAlt %}
        <img src="{{ submission.data.previewImage }}" alt="{{ submission.data.previewImageAlt }}" />
        {% endif %}
    </div>
    <ul class="formats" role="list">
        {% if submission.data.youtube %}
        <li class="youtube">{% include 'svg/youtube.svg' %} <a aria-describedby="{{ submission.data.id }}" href="{{ submission.data.youtube.url }}">
            {% localizedFormat 'youtube', submission.data.youtube.lang, lang %} {% if submission.data.youtube.interpretation -%}
            (
                {%- if submission.data.youtube.lang === 'en' -%}
                {{ 'interpretation.asl' | i18n }}
                {%- elif submission.data.youtube.lang === 'fr' -%}
                {{ 'interpretation.lsq' | i18n }}
                {%- endif -%}
            )
            {%- endif %}</a>
        {% endif %}
        {% if submission.data.audio %}
        <li class="audio">{% include 'svg/audio.svg' %} <a aria-describedby="{{ submission.data.id }}" href="{{ submission.data.audio.url }}">{% localizedFormat 'audio', submission.data.audio.lang, lang %}</a>
        {% endif %}
        {% for format in ['text', 'transcript', 'slides', 'pdf'] %}
        {% if submission.data[format] %}
        <li class="{{ format }}">{% if format === 'transcript' %}{% include 'svg/text.svg' %}{% else %}{% include 'svg/' + format + '.svg' %}{% endif %}
        {% for formatLocale, hasFormatLocale in submission.data[format] -%}
        {%- if hasFormatLocale -%}
        <span><a aria-describedby="{{ submission.data.id }}" href="{% formatUrl submission.data.id, format, formatLocale %}">{% localizedFormat format, formatLocale, lang %}</a></span>
        {%- endif -%}
        {%- endfor %}
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</article>
