        <footer role="contentinfo">
                <div class="container"></div>
        </footer>
        <script>
            if ("serviceWorker" in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register("/sw.js");
                });
            }
        </script>
