        <header role="banner">
            {% if lang %}
            <div class="idrc">
                <div class="container">
                    {% renderString site[lang].idrcBanner, "md" %}
                </div>
            </div>
            {% endif %}
            <div class="navbar">
                <div class="container">
                    {% include "partials/components/brand.njk" %}
                    {% if not eleventyExcludeFromCollections and lang %}
                    {% include "partials/components/navigation.njk" %}
                    {% endif %}
                </div>
            </div>
        </header>
