{% extends "layouts/base.njk" %}

{% block pageHeader %}
{% if youtube %}
<a class="linked-video" rel="external" data-id="{{ youtube | youtubeId }}" data-close="{{ 'close' | i18n }}" href="{{ youtube }}">
    <img src="/assets/images/placeholder.png" alt="" />
    {% include "svg/play.svg" %}
    <div>{{ 'play-video' | i18n }}</div>
</a>
{% endif %}
{% if transcript %}
<p class="normal">
    <a href="{{ transcript }}">{{ 'video-transcript' | i18n }}</a>
</p>
{% endif %}
    <h1>{{ site[lang].name }}</h1>
    {% renderString intro, "md" %}
{% endblock %}

{% block content %}
<h2>{{ title }}</h2>
<div class="content">
    {{ content | safe }}
</div>
<filter-container oninit filter-mode="all" filter-mode-theme="any" filter-mode-format="any" filter-mode-language="any" filter-mode-search="all" filter-fuzzy-search data-paginate-results="5">
    {% include "partials/components/filters.njk" %}
    <div class="submissions">
        <div class="title">
            <h3>{{ 'submissions' | i18n }}</h3>
            <div aria-live="polite" data-filter-results="{{ 'filter-results.filtered' | i18n }}">
                {{ 'filter-results.all' | i18n }}
            </div>
        </div>
        
        {% for submission in collections['submissions_' + lang] %}
        {% include "partials/components/submission.njk" %}
        {% endfor %}
    </div>
    {% include "partials/components/pagination.njk" %}
</filter-container>
<script>
    localStorage.setItem("lang", "{{ lang }}-CA");
</script>
{% endblock %}

