{% extends "layouts/base.njk" %}

{% block pageHeader %}
{% if youtube %}
<lite-youtube videoid="{{ youtube | youtubeId }}" style="background-image: url('https://i.ytimg.com/vi/{{ youtube | youtubeId }}/maxresdefault.jpg');"></lite-youtube>
{% endif %}
{% if transcript %}
<p class="align-end">
    <a href="{{ transcript }}">{{ 'video-transcript' | i18n }}</a>
</p>
{% endif %}
<h1>{{ title }}</h1>
{% endblock %}

{% block content %}
<div class="content">
    {{ content | safe }}
</div>
<filter-container oninit filter-mode="all" filter-mode-theme="any" filter-mode-format="any" filter-mode-language="any" filter-mode-search="all" filter-fuzzy-search data-paginate-results="5">
    {% include "partials/components/filters.njk" %}
    <div class="submissions">
        <div class="title">
            <h2>{{ 'submissions' | i18n }}</h2>
            <div aria-live="polite" data-filter-results="{{ 'filter-results.filtered' | i18n }}">
                {{ 'filter-results.all' | i18n }}
            </div>
        </div>
        
        {% for submission in collections['submissions_' + lang] %}
        {% include "partials/components/submission.njk" %}
        {% endfor %}
    </div>
    {% include "partials/components/pagination.njk" %}
</filter-container>
{% endblock %}

