backend:
  name: github
  branch: main
  repo: inclusive-design/acaw-cama
  base_url: https://sveltia-cms-auth.idrc-ops.workers.dev
media_folder: src/assets/uploads
public_folder: /assets/uploads

editor:
  preview: false
i18n:
  locales: [en, fr]
  default_locale: en
collections:
  - label: Pages
    label_singular: Page
    name: pages
    icon: article
    i18n:
      structure: multiple_folders
    folder: src/collections/pages/
    extension: md
    create: true
    fields:
      - {label: Title, name: title, widget: string, i18n: true}
      - {label: Excerpt, name: excerpt, widget: string, required: false, i18n: true}
      - {label: Body, name: body, widget: markdown, i18n: true}
  - label: Submissions
    label_singular: Submission
    name: submissions
    icon: co_present
    i18n:
      structure: multiple_folders
    folder: src/collections/submissions/
    extension: md
    create: true
    fields:
      - {label: Title, name: title, widget: string, i18n: true}
      - {label: ID, name: uuid, widget: uuid, i18n: duplicate}
      - {label: Preview Image, name: previewImage, widget: image, i18n: duplicate, required: false}
      - {label: Preview Image Alternative Text, name: previewImageAlt, widget: string, i18n: true, required: false}
      - {label: Presenters, name: presenters, widget: list, i18n: duplicate}
      - {label: Presenter Affiliation, name: affiliation, widget: string, i18n: duplicate, required: false}
      - {label: Themes, name: themes, widget: relation, multiple: true, collection: themes, search_fields: [title], value_field: uuid, display_fields: [title], i18n: duplicate}
      - label: Text
        name: text
        widget: object
        i18n: duplicate
        required: false
        fields:
          - {label: English URL, name: en, widget: string, type: url, i18n: duplicate, required: false}
          - {label: French URL, name: fr, widget: string, type: url, i18n: duplicate, required: false}

      - {label: YouTube, name: youtube, widget: string, type: url, i18n: true, required: false}
      - label: Transcript
        name: transcript
        widget: object
        i18n: duplicate
        required: false
        fields:
          - {label: English URL, name: en, widget: string, type: url, i18n: duplicate, required: false}
          - {label: French URL, name: fr, widget: string, type: url, i18n: duplicate, required: false}

      - label: Slide Deck
        name: slides
        widget: object
        i18n: duplicate
        required: false
        fields:
          - {label: English URL, name: en, widget: string, type: url, i18n: duplicate, required: false}
          - {label: French URL, name: fr, widget: string, type: url, i18n: duplicate, required: false}

      - label: Audio
        name: audio
        widget: object
        i18n: duplicate
        required: false
        fields:
          - {label: English URL, name: en, widget: string, type: url, i18n: duplicate, required: false}
          - {label: French URL, name: fr, widget: string, type: url, i18n: duplicate, required: false}

      - label: PDF
        name: pdf
        widget: object
        i18n: duplicate
        required: false
        fields:
          - {label: English URL, name: en, widget: string, type: url, i18n: duplicate, required: false}
          - {label: French URL, name: fr, widget: string, type: url, i18n: duplicate, required: false}

      - {label: Body, name: body, widget: markdown, i18n: true}
  - label: Themes
    label_singular: Theme
    name: themes
    icon: sell
    i18n:
      structure: multiple_folders
    folder: src/collections/themes/
    extension: md
    create: true
    fields:
      - {label: Title, name: title, widget: string, i18n: true}
      - {label: ID, name: uuid, widget: uuid, i18n: duplicate}
  - label: Settings
    name: settings
    icon: tune
    i18n:
      structure: single_file
    files:
      - label: Site Data
        name: site
        file: src/_data/site.json
        i18n: true
        fields:
          - {label: Name, name: name, widget: string, i18n: true}
          - {label: Description, name: description, widget: text, i18n: true}
          - {label: URL, name: url, widget: string, i18n: duplicate}
          - {label: Author Name, name: authorName, widget: string, i18n: duplicate}
          - {label: Author Email, name: authorEmail, widget: string, i18n: duplicate}
          - {label: Author Website, name: authorWebsite, widget: string, i18n: duplicate}

