---
permalink: /manifest.webmanifest
eleventyExcludeFromCollections: true
---
{
  "background_color": "#fff",
  "display": "fullscreen",
  "icons": [
    {
      "src": "/icon-192.png",
      "type": "image/png",
      "sizes": "192x192",
      "purpose": "any maskable"
    },
    {
      "src": "/icon-512.png",
      "type": "image/png",
      "sizes": "512x512"
    }
  ],
  "name": "ACAW / CAMA",
  "start_url": "/index.html",
  "theme_color": "#fff"
}
